#manageTable {
    background-color: white;
    width: 90% !important;
    margin: 40px auto;
    border-radius: 10px;
    padding: 2%;
}

#manageTable .table>:not(caption)>*>* {
    border-bottom-color: white !important;
}

#manageTable thead {
    background: #F3F5F9;
}

#manageTable th:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#manageTable th:nth-last-child(1) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#manageTable th {
    padding: 13px 85px !important;
}

#manageTable td {
    font-weight: 500;
    text-align: center;
}

#manageTable td:nth-child(1) {
    padding-left: 9.5% !important;
    text-align: justify;
}

#manageTable tbody {
    border: none !important;
}

#manageTable td img {
    width: 25px;
    cursor: pointer;
}