button {
    border: none;
    background: #61442A;
    color: white;
    font-weight: 500;
    transition: all 0.3s;
}

button:hover {
    background-color: #61442ac7;
}

button:focus {
    color: #61442A;
    background-color: #61442a75;
}